# Add git ignore files here

# Python
*.pyc

# Java
*.class

# ignore all files in the output directory
output/

# temp files in crf-test
crf-test/model
crf-test/testDataCRF.txt
crf-test/trainingDataCRF.txt
crf-test/test_out.csv
crf-test/concepts.csv

